<div>
  <div class="title">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>

  
<div>

    <div class="left-menu">
      
    </div>

    <div class="maps">
      <div id="map"></div>
    
    </div>

  </div>


</div>

<script src="/javascripts/mapbox.js" ></script>
<script>
{{#each shopsList}}
  new mapboxgl.Marker()
  new mapboxgl
  .Popup()
    .setHTML('<a href="/restaurant/{{_id}}">{{name}}</a>')
    .setLngLat([{{coordinates}}])
    .addTo(map)
{{/each}}
</script>
