
<p>Name: {{shopsList.name}}</p>
<p>Address{{shopsList.address1}}</p>
<p>{{shopsList.address2}}</p>
<p>{{shopsList.postcode}}</p>
<p>{{shopsList.city}}</p>
<p>{{shopsList.telephone}}</p>


{{#each  shopsList.reviews}}
<p>
  <strong>{{reviewername}} says:</strong>
  {{review}}
</p>
{{/each}}
<form action="/restaurant/{{shopsList.id}}/restaurant-review" method="POST">
  <fieldset>
    <legend>Review Page</legend>
    <p>Name:<input type="text" name='reviewername'></p>
    <p>Review:<input type="textarea" name='review'></p>
    <p><button>Give us your opinion!</button></p>
  </fieldset>
</form>


<form action="/movies/create" method="post" enctype="multipart/form-data">


   <label for="image-input">Image:</label>
        <input type="file" name="image" id="image-input" class="form-control-file" />
</form>
