<div class="header">
    <div>
      <img class="doner" src="./images/doner_logo.jpg" alt="doner_logo"/>
    </div>
    <nav class="nav-bar">
      <ul>
        <li><a class="button_cont" href="/signup"> Sign Up </a></li>
        <li><a class="button_cont" href="/login"> Log In </a></li>
        <li><a href="/logout"><img class="logout-icon" src="./images/logout-icon.svg" alt="logout"/></a><li>
      </ul>
    </nav>
</div>

<div>
    {{!-- <div class="left-menu"> --}}
    <div class="maps">
      <div id="map"></div>
    </div>
  </div>
{{!-- </div> --}}

<script src="/javascripts/mapbox.js" ></script>
<script>


  {{!-- {{#each shopsList}}
    addDonnerMarker({{coordinates}})
    addDonnerPopup({{coordinates}}, "{{name}}","{{address}}")
  {{/each}} --}}

{{#each shopsList}}
  new mapboxgl.Marker()
  new mapboxgl
  .Popup()
    .setHTML('<a href="/restaurant/{{_id}}">{{name}}</a>')
    .setLngLat([{{coordinates}}])
    .addTo(map)
{{/each}}

</script>
